name: Deploy Page

on:
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main branch
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: '0.151.2'
          extended: true

      - name: Setup go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25'

      - name: Build
        run: |
          hugo mod get
          hugo --minify

      - name: Current time
        id: timestamp
        run: echo "time=$(TZ='Asia/Kolkata' date +'%Y-%m-%dT%H:%M:%S%z')" >> $GITHUB_OUTPUT

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          publish_branch: gh-pages
          force_orphan: false
          commit_message: "deployment - ${{ steps.timestamp.outputs.time }}"
